/* ==========================================================================
   Media Queries
   ========================================================================== */
.menu-fixed {
	#menu  {top:-3px;}
}
#menu { 
		cursor: pointer;
		display: none;
		position: absolute;
	    right: 34px;
	    top: 14px;
	    background: url(img/open-menu.svg);
	    background-repeat: no-repeat;
	    background-size: 36px;
	    z-index: 10;
		width: 36px;
	    height: 36px;
		font-family: $font-sans;
/*
		-webkit-transition: all .2s cubic-bezier(.645,.045,.355,1);
		-moz-transition: all .2s cubic-bezier(.645,.045,.355,1);
		transition: all .2s cubic-bezier(.645,.045,.355,1);
*/

			&:hover {

			}
			@media only screen and (min-width: 768px) and (max-width: 959px), 
			only screen and (max-width: 767px), 
			only screen and (min-width: 480px) and (max-width: 767px) {
				display: block;
			}
}

	
	.menu-open {
			@media only screen and (min-width: 768px) and (max-width: 959px), 
			only screen and (max-width: 767px), 
			only screen and (min-width: 480px) and (max-width: 767px) {			
				overflow: hidden;
				.main-navigation {
					-ms-transform: translateX(0%);
					-webkit-transform: translateX(0%);
					transform: translateX(0%); 
				}
			}	
			#menu { 
				background: url(img/close-menu.svg);
				background-repeat: no-repeat;
				background-size: 36px;
			
			}	
			}


/***********************************************
screen (Smaller than 1290px)
***********************************************/
@media only screen and (min-width:960px) and (max-width: 1289px) {}


/***********************************************
Tablet (Smaller than 959px)
***********************************************/
@media only screen and (min-width: 768px) and (max-width: 959px) {



	
}



/***********************************************
Mobile (portrait 300px)
***********************************************/
@media only screen and (max-width: 767px) {

}

/***********************************************
Mobile (landscape 420px)
***********************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}