/* ==========================================================================
MINXING
   ========================================================================== */
//usage: @include shift([property],[duration],[easing]);

@mixin shift($property: all, $duration: .3s, $ease: linear){
	-webkit-transition: $property $duration $ease;
	-moz-transition: $property $duration $ease;
	-o-transition: $property $duration $ease;
	transition: $property $duration $ease;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}


/* ==========================================================================
 DROPDOWN
   ========================================================================== */
.dropdown {
    position: relative;
    display: inline-block;
    font-family: $font-sans;
    text-transform: uppercase;
    color: $secondary-color;
    &:hover {
		color: red ;
		.dropdown-content {
			display: block;
		}
		.dropbtn {
			background-color: transparent;
		}
    }

	.dropbtn {
	    display: block;
	    cursor: pointer;
	    padding-bottom: 20px;
		@media only screen and (min-width: 768px) and (max-width: 959px)  , only screen and (max-width: 767px), only screen and (min-width: 480px) and (max-width: 767px) {
					display: none;    
		}

	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: yellow;
	    min-width: 220px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		right: 50%;
		top: 30px;
		margin-right: -110px;
		text-align: left;
			@media only screen and (min-width: 768px) and (max-width: 959px), 
			only screen and (max-width: 767px), 
			only screen and (min-width: 480px) and (max-width: 767px) {				

		    position: relative;
		    display: block;
		    background: transparent;
		    box-shadow: none;
			z-index: 1;
		    right: 0%;
		    top: 0px;
		    margin-right: 0px;
		    text-align: left;			    
		}
		
		&:after {
			content: '';
		    width: 0;
		    height: 0;
		    border-style: solid;
		    border-width: 0 10px 10px 10px;
		    border-color: transparent transparent white transparent;
		    top: -10px;
		    right: 17px;
		    position: absolute;
			@media only screen and (min-width: 768px) and (max-width: 959px), 
			only screen and (max-width: 767px), 
			only screen and (min-width: 480px) and (max-width: 767px) {				
		display: none;
			}
		}
		
		a {
		    color: white;
		    padding: 12px 16px;
		    text-decoration: none;
		    display: block;
		    width: 100%;
		    &:active , &:hover {
			    background: white;
			    color: $primary-color;
		    }  
			@media only screen and (min-width: 768px) and (max-width: 959px), 
			only screen and (max-width: 767px), 
			only screen and (min-width: 480px) and (max-width: 767px) {				
  			padding: 10px 0px;
  			color: $secondary-color;
  			}			

		}
		    
	}
}